<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {src: "/index.js"}) %>
  <body>
    <%- include('partials/header', {title: "Home", username}) %>
    <main>
      <p>Most recent posts:</p>
      <ul id="posts-list">
      </ul>
    </main>
  </body>
</html>
