<html lang="en">
  <%- include('partials/head', {src: "/new-post.js"}) %>
  <body>
    <div id="main">
     <%- include('partials/header', {title: "New Post", username}) %>

    <main> 
<!-- Post creation form -->
      <label>Create a new post:</label>
      <form id="post-creation">
        <textarea
        id="post-content"
        name="post-content"
        placeholder="Post Content"
        rows="20"
        cols="100"
        ></textarea>
        <button type="submit" id="submit-post-creation">Create Post</button>
        <style>
          textarea {
            resize: none;
          }
        </style>
      </form>
      
      
      
       </main>
    </div>
  </body>
</html>