<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {src: "/users.js"}) %>
  <body>
    <div id="main">
     <%- include('partials/header', {title: "All Users", username}) %>

    <main>
      <ul id="users-list"></ul>
    </main>
    </div>
  </body>
</html>
